<mat-card>
    <mat-card-content>
        <p class="acapit">
            Steganography is a craft of hiding the fact of message's existance from undesirable observers. Its name comes from Greek word <i>steganographia</i>
            which is a conjunction of words <i>stegano</i>, which means 'covered', and <i>graphia</i> - 'writing'.
        </p>
        <p class="acapit">
            In general, the secret messages are disguised by, or embedded in, other medium. There are many ways to hide the message, limited only by our creativity.
            History knows many examples of steganography uses: 440 BC in Greece, Histiaeus sent a message to his vassal, Aristagoras, by shaving the head of his 
            servant and tatooing the message onto his scalp. When the servant's hair was long again, the message was invisible to the guards and he could easily transport
            it to the destination.
        </p>
        <p class="acapit">
            A method proposed on this website is <b>a bit</b> different. It uses digital images as carriers (.png and .jpg). Your message is transformed into a stream
            of bits. Every bit from the stream is hidden into one color cell of the image. The change of the colors is difficult to notice for human eyes because only
            least meaningful bit of the color code is changed.
        </p>
        <p class="acapit">
            In the pretty disturbing image below (by Zdzisław Beksiński ) I embedded a message.
            Go ahead, <a class="lnk" href="../../assets/beksinski_stegano.png" download>save it</a> and try to <a class="lnk" routerLink="/decode">decode it</a>.
        </p>
        <p>
            <img class="example-image" src="../../assets/beksinski_stegano.png">
        </p>
    </mat-card-content>
</mat-card>