<mat-toolbar>
    <button mat-icon-button color="primary" [matMenuTriggerFor]="menu" (click)="toggleMenu()" class="menu-button">
        <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
        <a routerLink="/encode">
            <button mat-menu-item>
                Encode
            </button>
        </a>
        <a routerLink="/decode">
            <button mat-menu-item>
                Decode
            </button>
        </a>
        <a routerLink="/about">
            <button mat-menu-item>
                About
            </button>
        </a>
    </mat-menu>
</mat-toolbar>
