/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/theming';

@include mat-core();

@import './stegano-theme.scss';
@import '../src/app/stegano-body/stegano-body.component.scss';
@import '../src/app/stegano-panel/stegano-panel.component.scss';
@import '../src/app/stegano-dropbox/stegano-dropbox.component.scss';
@import '../src/app/stegano-header/stegano-header.component.scss';
@import '../src/app/stegano-encode/stegano-encode.component.scss';
@import '../src/app/stegano-about/stegano-about.component.scss';
@import '../src/app/stegano-welcome/stegano-welcome.component.scss';
@import '../src/app/stegano-encode-agg/stegano-encode-agg.component.scss';
@import '../src/app/stegano-decode-agg/stegano-decode-agg.component.scss';
@import '../src/app/stegano-about-agg/stegano-about-agg.component.scss';
@import '../src/app/stegano-decode/stegano-decode.component.scss';


@import url('https://fonts.googleapis.com/css?family=Rowdies&display=swap');
@import url('https://fonts.googleapis.com/css?family=Exo&display=swap');


@include angular-material-theme($stegano-theme);
@include stegano-body-theme($stegano-theme, $stegano-colors);
@include stegano-panel-theme($stegano-theme, $stegano-colors);
@include stegano-dropbox-theme($stegano-theme, $stegano-colors);
@include stegano-header-theme($stegano-theme, $stegano-colors);
@include stegano-encode-theme($stegano-theme, $stegano-colors);
@include stegano-welcome-theme($stegano-theme, $stegano-colors);
@include stegano-encode-agg-theme($stegano-theme, $stegano-colors);
@include stegano-decode-agg-theme($stegano-theme, $stegano-colors);
@include stegano-about-agg-theme($stegano-theme, $stegano-colors);
@include stegano-about-theme($stegano-theme, $stegano-colors);
@include stegano-decode-theme($stegano-theme, $stegano-colors);


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
html {
    scroll-behavior: smooth;
}
